@import "../../sass/main";

.HotelView {
  background-color: #fff;

  .Gallery {
    display: flex;

    img {
      width: 100%;
      display: block;
    }
  }

  .Overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    svg {
      fill: var(--color-primary);
    }

    .Heading {
      font-size: 2.25;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
    }

    .Stars {
      display: flex;
      margin-right: auto;
    }

    .Location {
      font-size: 1.2rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .Rating {
      background-color: var(--color-primary);
      padding: 0 1rem;
      margin-left: 3rem;
      color: #fff;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .AverageRating {
        font-size: 2.25rem;
        font-weight: 300;
      }

      .RatingCount {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}
