.HotelView {
  background-color: #fff;

  .Gallery {
    display: flex;

    img {
      width: 100%;
      display: block;
    }
  }

  .Overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);

    svg {
      fill: var(--color-primary);
    }

    .Heading {
      font-size: 2.25;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
    }

    .Stars {
      display: flex;
      margin-right: auto;
    }

    .Location {
      font-size: 1.2rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .Rating {
      background-color: var(--color-primary);
      padding: 0 1rem;
      margin-left: 3rem;
      color: #fff;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .AverageRating {
        font-size: 2.25rem;
        font-weight: 300;
      }

      .RatingCount {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }

  .BtnInline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--color-grey-dark-1);
    }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
