@import "./sass/main";

.Container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
  height: 50vh;
}

.Content {
  display: flex;
  height: 100%;
}

.HotelView {
  background-color: #fff;
  flex: 1;
}
